.form-filter {
  padding: 1em 2.5em;

  .filter-button {
    @include large-button($main_gradiant_color, $white);
  }
  .item {
    display: flex;
    justify-content: space-between;
  }
  .clear p {
    text-align: right;
    @include font-style(14px, #ff0000);
    // margin: 20px 0;
    cursor: pointer;
  }

  .line {
    text-align: center;
  }
}

.el-drawer__header {
  margin-bottom: 0 !important;
}

.el-drawer__open .el-drawer.rtl {
  &:focus {
    outline: none;
  }
}
